@tailwind base;

@tailwind components;

@tailwind utilities;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&display=swap" rel="stylesheet">

html { 
  font-family: 'Trispace', sans-serif;
}
body {
  font-size: 14px;
  font-family: 'Trispace', sans-serif;
  background-color: #F0F4F9;
}
h1 {
  font-family: 'Baloo Da 2', cursive;
  color: #4247CD;
  font-size:  32px;
  font-weight: 900;
}
h2 {
  color: #4247CD;
  font-weight: 700;
}
p {
  color: #4247CD;
}
nav {
  width:  100%;
}
span {
  background-color: #D8DFFC;
}
.bg-primary-100{
  background-color: #D8DFFC;
}
.hero_img {
  width: 250px !important;
}
.btn-hero {
  width: 190px !important;
}
.btn {
  background-color: #D8DFFC;
  font-size: 14px;
  color: #4247CD;
  font-weight: 700;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.roadmap-row1 .btn {
  background-color: #4247CD;
  font-size: 14px;
  color: #D8DFFC;
}
.logo img {
  width: 100%;
}
.footer-whitepaper {
  display:  flex;
  width:  100%;
  float: left;
}
.footer ul {
  margin-top: 0;
  font-size: 16px;
  color: #D8DFFC;
  font-weight:  700;
 }
.footer-copyright {
  font-family: 'Trispace', sans-serif;
  font-size: 12px;
  color: #D8DFFC;
 }
.floraweek p {
  width: 65%;
  float:  left;
  padding-top: 20px;
 }
.floraweek img {
  width: 25%;
 }
.floraweek h1 {
  width: 75%;
  float: left;
}
.left-content {
  width:  66.67%;
  float: left;
}
.right-content {
  width:  33.33%;
  float: right;
}
.bottom-content {
  width: 100%;
}
.events-left {
  width:  60%;
}
.events-right {
  width: 40%;
}
.events-right img {
  float: left;
}
.events-right-date {
  font-size: 12px;
  margin-left: 20px;
  padding-left: 20px;
}
.attribute-img {
  width:  100%;
  padding-bottom: 20px;
}
.head-title-container {
  margin-top: 20px;
}
.head-title-container img {
  width: 100px;
}
.head-title-container span {
  margin-right: 20px;
  margin-left: 20px;
}
.body-li {
  width: 100%;
  display:block;
  text-align: center;
}
.navigation-bar .btn-hero{
  width: 220px !important;
  display: inline-flex;
  justify-content: center;
}
.btn-road-percent-done{
  background-color: #4247CD !important;
  color: #D8DFFC !important;
  width: 45px;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
.btn-road-percent-ongoing{
  background-color: #D8DFFC !important;
  color: #4247CD !important;
  border: 2px solid #4247CD;
  width: 45px;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  padding-left: 8px;
  margin: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
.roadmap-100 .btn-road-percent-ongoing{
  padding-left: 4px;
}
.roadmap-row {
  display: flex;
}
.btn-road-done {
  background-color: #4247CD;
  color: #D8DFFC;
  margin: 20px;
}
.btn-road-ongoing {
  background-color: #D8DFFC !important;
  color: #4247CD !important;
  border: 2px solid #4247CD;
  margin: 20px;
}
.btn-road-future {
  background-color: #B8C7FF !important;
  color: #4247CD !important;
  margin: 20px;
}
.btn-road-rejected {
  background-color: #D8DFFC !important;
  color: #B8C7FF !important;
  border: 2px solid #B8C7FF;
  margin: 20px;
}
.rejected .btn-road-rejected {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.arrow-right {
  margin-top: 30px;
  color: #4247CD;
}
.roadmap-paragraph {
  margin-left: 65px;
  margin-right: 20px;
}
.styles_faq-row-wrapper__3vA1D{
  background-color: #D8DFFC !important;
}
.medium {
  background-color: #F0F4F9;
}
.medium-inside {
  width: 80%;
}
.nav-icon {
  width: 30px;
  padding-right: 10px;
}
.btn-primary:hover {
  background-color: #AAFC0D;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.instagram img {
  width: 100%;
}
.discord img {
  margin-right: 20px;
}

@media only screen and (max-width: 1280px) {
  .left-content {
    width: 100%;
    float: left;
  }
  .right-content {
    width: 100%;
    float: right;
    margin-top: 20px;
  }
  .left-arrow-medium {
    display: none;
  }
  .right-arrow-medium {
    display: none;
  }
  .medium {
    background-color: #D8DFFC;
  }
  .instagram {
    width: 49%;
    float: left;
    height: 100%;
    margin-bottom: 0px !important;
  }
  .attributes {
    width: 49%;
    float: right;
  }
}
.instagram {
  margin-bottom: 20px;
}
.roadmap-rejected-alignment {
  margin-left: 45px;
}
.dat-paragraph {
  margin-top: 20px;
}

@media only screen and (max-width: 820px) {
    .btn-road-done {
      display: none;
    }
    .btn-road-ongoing {
      display: none;
    }
    .btn-road-future {
      display: none;
    }
    .btn-road-rejected {
      display: none;
    }
    .arrow-right {
      display: none;
    }
    .arrow-left {
      display: none;
    }
    .roadmap-5 {
      display: flex;
    }
    .roadmap-25 {
      display: flex;
    }
    .roadmap-50 {
      display: flex;
    }
    .roadmap-75 {
      display: flex;
    }
    .roadmap-100 {
      display: flex;
    }
    .roadmap-paragraph {
      margin: auto;
      margin-left: 20px;
    }
    .roadmap-rejected-alignment {
      margin-left: 0px;
    }
}


@layer components {
  .navbar-container {
    display: flex;
    justify-content: center;
  }
  .head-title-container {
    display: flex;
    justify-content: center;
  }
   .head-title-container h1 {
      color: #D8DFFC !important;
  }
  /* Gray Scale */
  .hover figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  .hover figure:hover div {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #4247CD;
    color: #fff;
  }

  /* Regular button */
  .btn {
    @apply inline-block rounded-md text-center;
  }

  .btn-base {
    @apply text-lg font-semibold py-2 px-4;
  }

  .btn-xl {
    @apply font-extrabold text-xl py-4 px-6;
  }

  .btn-primary {
    @apply text-white bg-primary-500;
  }

  .btn-regular:hover {
    @apply bg-primary-600;
  }

  /* Hero button classes */
  .hero-button-parent {
    display: flex;
  }

  .btn-hero {
    width: 100%;
  }

  .hero-li {
    display:flex;
    width: 250px;
    text-align: center;
  }

  /* instagram embed */
  .InstaEmbed { 
    display: 'flex'; 
    justifyContent: 'center' 
  }

  /* stats plot */
  .stats-container {
  position: relative;
  z-index:999;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.stats-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* stats plot overrides */
image[class^="chart_chart"] {
  opacity: 0.0;
}

/* modal style*/
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

}