@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {
  .navbar-container {
    display: flex;
    justify-content: center;
  }
  .navbar > li {
    padding: theme('spacing.6');
    margin: 6;
    box-shadow: theme('boxShadow.xl');
  }
  .head-title-container {
    display: flex;
    justify-content: center;
  }
}